.main {
  flex-grow: 1;
  text-align: center;
}

.link {
  text-decoration: none;
  padding: var(--gutter-8) var(--gutter-10);
  text-transform: uppercase;
  font-weight: var(--font-weight-semi);
  color: var(--color-text-primary);
  font-size: smaller;
  letter-spacing: 1px;
}

.active {
  border-bottom: 2px solid var(--color-accent);
}
