.main {
  border: 1px solid grey;
  border-radius: var(--border-radius);
  margin: var(--gutter-4);
  padding: var(--gutter-10);
  min-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
}

.header {
  text-align: center;
  margin: var(--gutter-6) 0 var(--gutter-20);
}

.title {
  font-size: 2.4rem;
  display: block;
}

.subTitle {
  display: block;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gutter-10);
  margin-bottom: var(--gutter-20);
}

.section {
  text-align: center;
  cursor: default;
}

.sectionTitle {
  font-weight: var(--font-weight-semi);
  display: block;
}

.tooltipItem {
  display: block;
}

.noHover {
  pointer-events: none;
}

.materials {
  margin-bottom: var(--gutter-20);
}

.footer {
  margin-top: auto;
}
