.main {
  position: absolute;
  right: -4px;
  top: -10px;
  background-color: var(--color-danger);
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
